/* CSS Document */
html, body {
    height: 100%;
}
body{
    background-image:url(../images/cream_pixels.fw.png);
    background-repeat:repeat;
    margin-top:10px;
}
.wrapper {
    max-width: 1126px;
    background-color:#FFF;
    width: 100%;
    margin: 0 auto -20px;
}

img {
    padding:1px;
    border:1px solid #D7D7D7;
    background-color:#FFF;
    margin: 5px 15px 5px 50px;
}


/* --------------------------------------------- */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 75%;
    height: 36px;
    background: #f1f1f1;
}

form.example ul {
    position: absolute;
    width: 71%;
    cursor:pointer;
    top:36px;
    background-color: #f1f1f1;
    z-index: 3;
}

form.example li:hover{
    background-color: #f1f1f1;
}

form.example button {
    float: left;
    width: 15%;
    height: 35px;
    color: white;
    font-size: 10px;
    border: 0px solid grey;
    border-left: none;
    cursor: pointer;
}


/* ------------------ header ------------------- */

.header {
    color: white;
    overflow: hidden;
    background-color: #67a1cc;
    padding: 15px 10px;
}

.header a {
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Rouge Script';
    text-shadow: 1px 1px 10px #082b34;
    font-weight: bolder;
    margin: 0 10px 0;
}

.header a.logo {
    color: inherit;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.header a.sublogo {
    color: inherit;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Rouge Script';
}

.header a:hover {
    color: #ccc;
    text-decoration: none;
}

#header_bottom{
    width: 100%;
    background-repeat:repeat-x;
    height:15px;
}

#footer_top{
    width: 100%;
    background-repeat:repeat-x;
    height:15px;
}


.searchBoxWord {
    color : #67a1cc
}
/* ------------------ navigation ------------------- */

#nav {
    width: 100%;
    background-color: #67a1cc;
    height: 57px;
    background-repeat: repeat;
}

#nav .wrap-nav{
    height: 30px;
    background: #333333;
}

#nav ul{
    float:left;
    list-style:none;
    width:100%;
}

#nav ul li{
    float:left;
    list-style:none;
    margin-right:80px;
}

#nav ul li a{
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: white;
    display: block;
    padding: 17px 10px;
    margin-bottom: 1px;
    z-index: 3;
    position: relative;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}



/* ------------------ content ------------------- */

h2{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:16px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    font-weight: normal;
    color: #008493;
}

p{
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
    line-height:18px;
    text-align:justify;

}

a{
    color: #054bcc;
}

#content .wrap-content{ background: #ffffff;}

.box1 {
    margin:5px 7px;
    padding:10px;

}
.box1 h2{text-align:center; }
.box2 {
    margin:0px 7px;
    padding:10px;
    text-align:left;
}
.box3 {
    margin:5px 7px;
    padding:10px;
    text-align:left;
}

div.line {
    border-top-width:1px;
    border-top-style:dotted;
    border-top-color:#D7D7D7;
}



/* -------------------- column and row ------------------- */


.wraptext{margin:5px;}
.text .co1umn1, .text .co1umn2{float:left; display: inline-block;}

.text .wraptext{
    margin: 16px;
}



/* ------------------ footer -------------------- */

footer {
    background-repeat: repeat-x;
    text-align: center;
}

.wrap-footer{
    background-repeat: repeat-x;
}

.ftr {
    background: #67a1cc;
    font-family:Arial, Helvetica, sans-serif;
    padding:10px 0px;
    color:#ffffff;
}

.ftr p{
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    line-height:30px;
}

.ftr a{
    text-decoration:underline;
    color: white; }




/*----------	Tablet size    ---------*/

@media only screen and (max-width: 768px) {

    body{
        margin-top:10px;
    }

    .header{
        width: 100%;
        background-color:#67a1cc;
        background-repeat:no-repeat;
        height:100px;
        margin-left:0 0 0 0;
        display:block;
    }

    #keyboard {
        display:none;
    }


    #nav {
        width: 100%;
        background:#67a1cc;
        position: relative;
        border-bottom: 10px solid #67a1cc;
    }

    #nav ul{
        float:left;
        list-style:none;
        width:100%;
        display: block;
        position:relative;
    }

    #nav ul li a{
        text-decoration: none;
        font-size: 12px;
        line-height: 10px;
        color: white;
        display: block;
        margin:0;
        padding:5px;
        list-style:none;
        z-index: 1;
        position:relative;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        clear: left;
    }

    #header_bottom{
        width: 100%;
        background-repeat:repeat-x;
        position:relative;
        z-index:3;
        display:block;
    }

    #footer_top{
        width: 100%;
        background-repeat:repeat-x;
        position:relative;
        z-index:3;
        display:block;
    }

    #content .wrap-content{
        background: #ffffff;
        display: block;
        width: 100%;
    }

    .text .wraptext{
        margin: 16px;
    }

    .box1 .box2 .box3 {
        margin:0px 7px;
        padding:5px;
    }
}



/*----------	Iphone size    ---------*/

@media only screen and (max-width: 320px) {

    body{
        margin-top:1px;
    }

    .header{
        width: 100%;
        background-color:#67a1cc;
        background-repeat:no-repeat;
        height:100px;
        margin-left:0 0 0 0;

    }

    #keyboard {
        display:none;
    }


    #nav {
        width: 100%;
        background:#67a1cc;
        height: auto;
        position: relative;
        border-bottom: 97px solid #67a1cc;
    }

    #nav .wrap-nav{
        background:#67a1cc;
        background-repeat: repeat-x;
        display: block;
        height: auto;
    }

    #nav ul{
        float:left;
        list-style:none;
        height: auto;
        width:100%;
        display: block;
        position:relative;
    }

    #nav ul li a{
        text-decoration: none;
        font-size: 12px;
        line-height: 10px;
        color: #000000;
        display: block;
        margin:0;
        padding:5px;
        list-style:none;
        z-index: 3;
        position:inherit;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        clear: left;
    }

    .text .wraptext{
        margin: 5px;
    }

    .box1 .box2 .box3  {
        margin:0px 7px;
        padding:5px;
        display:block;
    }

    h3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
    }
    img {
        padding:1px;
        border:1px solid #D7D7D7;
        background-color:#FFF;
        margin: 0px 0px 0px 0px;
    }
}

.underline {
    border-width: 0px;}


.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #67a1cc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #67a1cc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

#keyboard {
    color: #2d282e;
    width: 560px;
    height: 200px;
    padding: 12px;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}


/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 5px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    width: 38px;
}

.btn-lg {
    font-size: 4px;
    line-height: 1.33;
    border-radius: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 3px 6px;
}
.btn-primary.outline {
    border: 1px solid #2d282e;
    color: #2d282e;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 3px 6px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

