<div class="row-fluid">
    <div class="span12" ng-controller="BrowseController">
        <div class="span12"><h4 align="center">List of Dictionary</h4></div>
        <div class="span12"><a ng-href="/#!/browse/a/hindi/1">English to Hindi Words</a></div>
        <div class="span12"><a ng-href="/#!/browse/a/urdu/1">English to Urdu  Words</a></div>
        <div class="span12"><a ng-href="/#!/browse/a/telugu/1">English to Telugu Words</a></div>
        <div class="span12"><a ng-href="/#!/browse/a/bengali/1">English to Bengali Words</a></div>
        <div class="span12"><a ng-href="/#!/browse/a/marathi/1">English to Marathi Words</a></div>
    </div>
</div>