<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="BrowseController" ng-init="cleanList()">
        <div class="row"><h3>List of Dictionary</h3></div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/browse/a/english/hindi/1">English to Hindi</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/browse/अ/hindi/english/1">Hindi to English</a>
            </div>
        </div>
</div>
