<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="BrowseController">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h3>List of Dictionary</h3></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/#!/browse/a/english/hindi/1">English to Hindi Words</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/#!/browse/अ/hindi/english/1">Hindi to English Words</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/#!/browse/a/english/urdu/1">English to Urdu Words</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/#!/browse/ا/urdu/english/1">Urdu to English Words</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/#!/browse/a/english/telugu/1">English to Telugu Words</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/#!/browse/అ/telugu/english/1">Telugu to English Words</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/#!/browse/a/english/bengali/1">English to Bengali Words</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/#!/browse/অ/bengali/english/1">Bengali to English Words</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/#!/browse/a/english/marathi/1">English to Marathi Words</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-href="/#!/browse/अ/marathi/english/1">Marathi to English Words</a>
            </div>
        </div>
    </div>
