<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="DictionaryCtrl">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="DictionaryForm.show">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <form class="example" ng-submit="searchWord(DictionaryForm.text)">
                <input type="text" placeholder="Search Word ..." ng-model="DictionaryForm.text.word">
                <input type="text" ng-show="false" ng-model="DictionaryForm.text.lang" ng-init="DictionaryForm.text.lang ='marathi'; HeaderData.source = 'english'; HeaderData.target = 'marathi'">
                <button type="submit"><i class="btn btn-primary">Search</i></button>
            </form>
        </div>
    </div>
    <div ng-show="target.show" ng-init="searchWord(DictionaryForm.text)">
        <div class="row"><h3>{{searchBoxWord | capitalize}} meaning in marathi</h3></div>

        <div class="row" ng-show="noun.show"><b>Noun</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'noun'" ng-init="noun.show=true; target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="verb.show"><b>Verb</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'verb'" ng-init="verb.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="adverb.show"><b>Adverb</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'adverb'" ng-init="adverb.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="adjective.show"><b>Adjective</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'adjective'" ng-init="adjective.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="preposition.show"><b>Preposition</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'preposition'" ng-init="preposition.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="conjunction.show"><b>Conjunction</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'conjunction'" ng-init="conjunction.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="pronoun.show"><b>Pronoun</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'pronoun'" ng-init="pronoun.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="interjection.show"><b>Interjection</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'interjection'" ng-init="interjection.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="phrase.show"><b>Phrase</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'phrase'" ng-init="phrase.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="abbreviation.show"><b>Abbreviation</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'abbreviation'" ng-init="abbreviation.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="article.show"><b>Article</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'article'" ng-init="article.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="auxiliaryVerb.show"><b>Auxiliary Verb</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'auxiliaryVerb'" ng-init="auxiliaryVerb.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="particle.show"><b>Particle</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'particle'" ng-init="particle.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="prefix.show"><b>Prefix</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == 'prefix'" ng-init="prefix.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="other.show"><b>Other</b>
            <div class="row">
                <div ng-repeat="wordNode in dictionary.targetWord" >
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-if="wordNode.partOfSpeech == '' || wordNode.partOfSpeech == 'text'" ng-init="other.show=true;target.show=true"><a ng-href="/#!/marathi-word/{{wordNode.word}}/meaning-in-english">{{wordNode.word}}</a></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="synonym.show">
        <div class="row"><h3>Definition of {{searchBoxWord | capitalize}}</h3></div>
        <div ng-repeat="synonyms in dictionary.synonym">
            <div class="row" ng-init="synonym.show=true">{{$index + 1}}.&nbsp;<b>[{{synonyms[0].partOfSpeech | capitalize}}]</b>&nbsp;&nbsp;{{synonyms[0].definition | capitalize}}.</div>
            <div class="row">
                <div ng-repeat="synonym in synonyms">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a ng-href="/#!/english-word/{{synonym.word}}/meaning-in-marathi">{{synonym.word}}</a>&nbsp;(<a ng-href="/#!/marathi-word/{{synonym.tWord}}/meaning-in-english">{{synonym.tWord}}</a>)</div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="exmple in synonym.exmples">
                            <div class="row">-&nbsp;{{exmple | capitalize}}.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="synonym.show">
        <div class="row"><h3>Synonym of {{searchBoxWord | capitalize}}</h3></div>
        <div class="row">
            <div ng-repeat="synonyms in dictionary.synonym">
                <div ng-repeat="synonym in synonyms">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-init="synonym.show=true"><a ng-href="/#!/english-word/{{synonym.word}}/meaning-in-marathi">{{synonym.word}}</a>&nbsp;(<a ng-href="/#!/marathi-word/{{synonym.tWord}}/meaning-in-english">{{synonym.tWord}}</a>)</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="otherMeaning.show">
        <div ng-repeat="(key, value) in dictionary.relatedBy">
            <div class="row" ng-init="otherMeaning.show=true"><h3>{{key | capitalize}} of {{searchBoxWord | capitalize}}</h3></div>
            <div class="row">
                <div ng-repeat="wordNode in value">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><a ng-href="/#!/english-word/{{wordNode.word}}/meaning-in-marathi">{{wordNode.word}}</a>&nbsp;(<a ng-href="/#!/marathi-word/{{wordNode.tWord}}/meaning-in-english">{{wordNode.tWord}}</a>)</div>
                </div>
            </div>
        </div>
    </div>
</div>

