<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="DictionaryCtrl">
    <div class="row" ng-show="DictionaryForm.show">
        <div  class="col-md-6 col-lg-6"></div>
        <div class="col-md-6 col-lg-6">
            <form class="example" ng-submit="searchWord(DictionaryForm.text)">
                <input type="text" placeholder="Search Word ..." ng-model="DictionaryForm.text.word" ng-keyup="complete(DictionaryForm.text.word, 'english')" class="form-control">

                <ul class="list-group" ng-model="hideAutoCompleteList" ng-hide="hideAutoCompleteList">
                     <li class="list-group-item"
                         ng-repeat="countryData in filterWords"
                         ng-click="fillTextBox(countryData)">
                         <a ng-href="/english-word/{{countryData}}/meaning-in-hindi">
                             <div ng-bind-html="countryData | highlight:DictionaryForm.text.word"></div>
                         </a>
                     </li>
                </ul>

                <input type="text" ng-show="false" ng-model="DictionaryForm.text.lang" ng-init="DictionaryForm.text.lang ='hindi'; HeaderData.source = 'english'; HeaderData.target = 'hindi'">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
            </form>
        </div>
    </div>

    <div ng-show="target.show" ng-init="searchWord(DictionaryForm.text)">
        <div class="row">
            <h1>
                <a  ng-click="sayIt('{{searchBoxWord}}', 'en-GB')"><span class="glyphicon glyphicon-volume-up"></span></a>
                <span class="searchBoxWord" ng-bind="searchBoxWord | capitalize"></span> meaning in hindi
            </h1>
        </div>
        <div class="row">
            <label class="switch">
                <input type="checkbox" ng-model="showTransl">
                <span class="slider round"></span>
                <span style="padding-left:40px">Transliteration</span>
            </label>
        </div>

        <div ng-repeat="(partOfSpeech, meanings) in dictionary.meaning">
            <div class="row" ng-init="target.show=true"><b ng-bind="partOfSpeech | capitalize"></b></div>
            <div class="row">
                <div ng-repeat='meaning in meanings'>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div>
                            <a ng-click="sayIt('{{meaning}}', 'hi-IN')"><span class="glyphicon glyphicon-volume-up"></span></a>
                            <a ng-href="/hindi-word/{{meaning}}/meaning-in-english" ng-bind="meaning"></a>
                            <span ng-show="showTransl">
                                [<a ng-click="sayIt('{{meaning}}', 'hi-IN')" ng-bind="meaning | transliteration"></a>]
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="definition.show">
        <div class="row"><h2>Definition of <span class="searchBoxWord" ng-bind="searchBoxWord | capitalize"></span></h2></div>
        <div ng-repeat="(partOfSpeech, definitions) in dictionary.definition">
            <div class="row" ng-init="definition.show=true"><b ng-bind="partOfSpeech | capitalize"></b></div>
            <div class="row">
                <div ng-repeat='(index, definition) in definitions track by $index'>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <a ng-click="sayIt('{{definition}}', 'en-GB')"><span class="glyphicon glyphicon-volume-up"></span></a>
                            <b>- </b><span ng-bind="definition"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="example.show">
        <div class="row"><h2>Use of the word <span class="searchBoxWord" ng-bind="searchBoxWord | capitalize"></span></h2></div>
        <div ng-repeat="(partOfSpeech, examples) in dictionary.use">
            <div class="row" ng-init="example.show=true"><b ng-bind="partOfSpeech | capitalize"></b></div>
            <div class="row">
                <div ng-repeat='(index, example) in examples track by $index'>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <a  ng-click="sayIt('{{example}}', 'en-GB')"><span class="glyphicon glyphicon-volume-up"></span></a>
                            <b>- </b><span ng-bind="example"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="synonym.show">
        <div class="row"><h2>Synonym of <span class="searchBoxWord" ng-bind="searchBoxWord | capitalize"></span></h2></div>
        <div ng-repeat="(partOfSpeech, similarWords) in dictionary.synonym">
            <div class="row"><b ng-bind="partOfSpeech | capitalize"></b></div>
            <div class="row">
                <div ng-repeat='similarWord in similarWords track by $index'>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" ng-init="synonym.show=true">
                        <div>
                            <a  ng-click="sayIt('{{similarWord}}', 'en-GB')"><span class="glyphicon glyphicon-volume-up"></span></a>
                            <a ng-href="/english-word/{{similarWord}}/meaning-in-hindi" ng-bind="similarWord"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="antonym.show">
        <div class="row"><h2>Antonym of <span class="searchBoxWord" ng-bind="searchBoxWord | capitalize"></span></h2></div>
        <div class="row">
            <div ng-repeat="antonyms in dictionary.antonym track by $index">
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" ng-init="antonym.show=true">
                        <div>
                            <a  ng-click="sayIt('{{antonyms}}', 'en-GB')"><span class="glyphicon glyphicon-volume-up"></span></a>
                            <a ng-href="/english-word/{{antonyms}}/meaning-in-hindi" ng-bind="antonyms"></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div ng-show="seeAlso.show">
        <div class="row"><h2>See Also</h2></div>
        <div class="row">
            <div ng-repeat="same in dictionary.seeAlso track by $index">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" ng-init="seeAlso.show=true">
                    <div>
                        <a  ng-click="sayIt('{{same}}', 'en-GB')"><span class="glyphicon glyphicon-volume-up"></span></a>
                        <a ng-href="/english-word/{{same}}/meaning-in-hindi" ng-bind="same"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

