<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="DictionaryCtrl">
    <div class="row" ng-show="DictionaryForm.show">
        <div class="col-md-6 col-lg-6"></div>
        <div class="col-md-6 col-lg-6">
            <form class="example" ng-submit="searchWord(DictionaryForm.text)">
                <input type="text" placeholder="Search Word ..." ng-model="DictionaryForm.text.word">
                <input type="text" ng-show="false" ng-model="DictionaryForm.text.lang" ng-init="DictionaryForm.text.lang ='bengali'; HeaderData.source = 'english'; HeaderData.target = 'bengali'">
                <button type="submit"><i class="btn btn-primary">Search</i></button>
            </form>
        </div>
    </div>

    <div ng-show="target.show" ng-init="searchWord(DictionaryForm.text)">
        <div class="row"><h3>{{searchBoxWord | capitalize}} meaning in bengali</h3></div>
        <div ng-repeat="(partOfSpeech, meanings) in dictionary.meaning">
            <div class="row" ng-init="target.show=true"><b>{{partOfSpeech | capitalize}}</b></div>
            <div class="row">
                <div ng-repeat='meaning in meanings'>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a ng-href="/#!/bengali-word/{{meaning}}/meaning-in-english">{{meaning}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="definition.show">
        <div class="row"><h3>Definition of {{searchBoxWord | capitalize}}</h3></div>
        <div ng-repeat="(partOfSpeech, definitions) in dictionary.definition">
            <div class="row" ng-init="definition.show=true"><b>{{partOfSpeech | capitalize}}</b></div>
            <div class="row">
                <div ng-repeat='(index, definition) in definitions track by $index'>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <b>-</b> {{definition}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="example.show">
        <div class="row"><h3>Use of the word {{searchBoxWord | capitalize}}</h3></div>
        <div ng-repeat="(partOfSpeech, examples) in dictionary.use">
            <div class="row" ng-init="example.show=true"><b>{{partOfSpeech | capitalize}}</b></div>
            <div class="row">
                <div ng-repeat='(index, example) in examples track by $index'>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <b>-</b> {{example}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="synonym.show">
        <div class="row"><h3>Synonym of {{searchBoxWord | capitalize}}</h3></div>
        <div ng-repeat="(partOfSpeech, similarWords) in dictionary.synonym">
            <div class="row"><b>{{partOfSpeech | capitalize}}</b></div>
            <div class="row">
                <div ng-repeat='similarWord in similarWords track by $index'>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-init="synonym.show=true">
                        <a ng-href="/#!/english-word/{{similarWord}}/meaning-in-bengali">{{similarWord}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="antonym.show">
        <div class="row"><h3>Antonym of {{searchBoxWord | capitalize}}</h3></div>
        <div class="row">
            <div ng-repeat="antonyms in dictionary.antonym track by $index">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-init="antonym.show=true">
                    <a ng-href="/#!/english-word/{{antonyms}}/meaning-in-bengali">{{antonyms}}</a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="seeAlso.show">
        <div class="row"><h3>See Also</h3></div>
        <div class="row">
            <div ng-repeat="same in dictionary.seeAlso track by $index">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-init="seeAlso.show=true">
                    <a ng-href="/#!/english-word/{{same}}/meaning-in-bengali">{{same}}</a>
                </div>
            </div>
        </div>
    </div>

</div>

