 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="BrowseController" ng-init="cleanList()">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h3>Welcome To Dictionary!</h3></div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><p>Entheos specializes in customized website design to match the specific   requirements of our customers. Our eye-catching and striking websites   are professionally designed for ease of navigation. Our expertise ranges   from graphic and layout design to CSS and Flash animation. Take a look   at our  to view the websites we've created for our international clients. Try out our popular that combine the best in web design at the most affordable prices.</p>
        </div>
     </div>
 </div>
