 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h3>Welcome To Dictionary!</h3></div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><p>Entheos specializes in customized website design to match the specific   requirements of our customers. Our eye-catching and striking websites   are professionally designed for ease of navigation. Our expertise ranges   from graphic and layout design to CSS and Flash animation. Take a look   at our <a href="http://www.entheosweb.com/design_portfolio.asp" target="_blank">portfolio</a> to view the websites we've created for our international clients. Try out our popular <a href="http://www.entheosweb.com/package_deals.asp" target="_blank">package deals</a> that combine the best in web design at the most affordable prices.</p>
        </div>
     </div>
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="line"></div>
     </div>
 </div>
