<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="DictionaryCtrl">
    <div class="row" ng-show="DictionaryForm.show">
        <div class="col-md-6 col-lg-6"></div>
        <div class="col-md-6 col-lg-6">
            <form class="example" ng-submit="searchReverseWord(DictionaryForm.text)">
                <input type="text" placeholder="Search Word ..." ng-model="DictionaryForm.text.word" ng-keyup="complete(DictionaryForm.text.word, DictionaryForm.text.lang)" class="form-control">

                <ul class="list-group" ng-model="hideAutoCompleteList" ng-hide="hideAutoCompleteList">
                    <li class="list-group-item"
                        ng-repeat="countryData in filterWords"
                        ng-click="fillTextBox(countryData)">
                        <a ng-href="/#!/marathi-word/{{countryData}}/meaning-in-english">
                            <div ng-bind-html="countryData | highlight:DictionaryForm.text.word"></div>
                        </a>
                    </li>
                </ul>
                <input type="text" ng-show="false" ng-model="DictionaryForm.text.lang" ng-init="DictionaryForm.text.lang ='marathi'; HeaderData.source = 'marathi'; HeaderData.target = 'english'">
                <button type="submit"><i class="btn btn-primary">Search</i></button>
            </form>
        </div>
    </div>


    <div ng-show="target.show" ng-init="searchReverseWord(DictionaryForm.text)">
        <div class="row"><h3>{{searchBoxWord | capitalize}} meaning in marathi</h3></div>
        <div ng-repeat="(partOfSpeech, meanings) in dictionary.meaning">
            <div class="row" ng-init="target.show=true"><b>{{partOfSpeech | capitalize}}</b></div>
            <div class="row">
                <div ng-repeat='meaning in meanings'>
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                        <a ng-href="/#!/english-word/{{meaning}}/meaning-in-marathi">{{meaning}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
