<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="BrowseController" ng-init="cleanList()">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <strong>Privacy Policy</strong>
        <p>To protect your privacy is our main concern. This policy covers the actions when you visit <b>nobledictionary.com</b>. Our website automatically receives and records your information like your ip address, your geographical location, your activities into the site, software and hardware attributes etc. Those are the common actions just like every other websites through the internet.</p>

        <strong>Usage of information</strong>
        <p><b>nobledictionary.com</b> uses those information internally and must not share publicly. Those information helps us to research by understanding the nature of the users and the website.</p>


        <strong>Cookies Policy</strong>
        <p><b>nobledictionary.com</b> cookies give extra facilities to its visitors. <b>nobledictionary.com</b> do not commit any kind of illegal activities by cookies system. Visitors can access to the cookies by the available applications.</p>

        <strong>Changes to privacy policy</strong>
        <p><b>nobledictionary.com</b> may update privacy policy any time. And the updates of policy will be available in this website.</p>
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>
