<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="BrowseController" ng-init="cleanList()">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <strong>Terms of Service</strong><br>
        <p>Noble Dictionary thanks you for using this online information service. By using our service, you are agreeing with our terms.</p>

        <strong>Nature of our service</strong><br>
        <p>Noble Dictionary helps to learn and understand the meaning of english words. It offers you totally free online language solutions. Our dictionary includes meaning and definition of english words, provides searching options with related and suggested words and other sources and references of that word for a clear idea. We divided words into many categories by various topics so you can learn it effectively. You can search phrases and idioms. We are regularly updating the our dictionary database.</p>

        <strong>Restrictions</strong><br>
        <p>
            According to our terms you agree that you will:<br>
            - Not trying to misuse of Noble Dictionary content by breaking copyright.<br>
            - Not use automated software to break the flow of service.<br>
            - Not trying to spamming.<br>
        </p>


        <strong>Disclaimers</strong><br>
        <p>We don not promise about reliability of the content, availability to meet your needs within our services, basically those are from other sources as references.</p>

        <p>Any updates of our terms of services, we will notify you.</p>
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>
